<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supie.webadmin.app.dao.StandardFieldQuatityMapper">
    <resultMap id="BaseResultMap" type="supie.webadmin.app.model.StandardFieldQuatity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="data_user_id" jdbcType="BIGINT" property="dataUserId"/>
        <result column="data_dept_id" jdbcType="BIGINT" property="dataDeptId"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="staidard_id" jdbcType="BIGINT" property="staidardId"/>
        <result column="staidard_field_id" jdbcType="BIGINT" property="staidardFieldId"/>
        <result column="staidard_quality_id" jdbcType="BIGINT" property="staidardQualityId"/>
    </resultMap>

    <insert id="insertList">
        INSERT INTO sdt_standard_field_quatity
            (id,
            update_time,
            create_time,
            create_user_id,
            update_user_id,
            data_user_id,
            data_dept_id,
            is_delete,
            staidard_id,
            staidard_field_id,
            staidard_quality_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator="," >
            (#{item.id},
            #{item.updateTime},
            #{item.createTime},
            #{item.createUserId},
            #{item.updateUserId},
            #{item.dataUserId},
            #{item.dataDeptId},
            #{item.isDelete},
            #{item.staidardId},
            #{item.staidardFieldId},
            #{item.staidardQualityId})
        </foreach>
    </insert>

    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="supie.webadmin.app.dao.StandardFieldQuatityMapper.inputFilterRef"/>
        AND sdt_standard_field_quatity.is_delete = ${@supie.common.core.constant.GlobalDeletedFlag@NORMAL}
    </sql>

    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="standardFieldQuatityFilter != null">
            <if test="standardFieldQuatityFilter.id != null">
                AND sdt_standard_field_quatity.id = #{standardFieldQuatityFilter.id}
            </if>
            <if test="standardFieldQuatityFilter.updateTimeStart != null and standardFieldQuatityFilter.updateTimeStart != ''">
                AND sdt_standard_field_quatity.update_time &gt;= #{standardFieldQuatityFilter.updateTimeStart}
            </if>
            <if test="standardFieldQuatityFilter.updateTimeEnd != null and standardFieldQuatityFilter.updateTimeEnd != ''">
                AND sdt_standard_field_quatity.update_time &lt;= #{standardFieldQuatityFilter.updateTimeEnd}
            </if>
            <if test="standardFieldQuatityFilter.createTimeStart != null and standardFieldQuatityFilter.createTimeStart != ''">
                AND sdt_standard_field_quatity.create_time &gt;= #{standardFieldQuatityFilter.createTimeStart}
            </if>
            <if test="standardFieldQuatityFilter.createTimeEnd != null and standardFieldQuatityFilter.createTimeEnd != ''">
                AND sdt_standard_field_quatity.create_time &lt;= #{standardFieldQuatityFilter.createTimeEnd}
            </if>
            <if test="standardFieldQuatityFilter.createUserId != null">
                AND sdt_standard_field_quatity.create_user_id = #{standardFieldQuatityFilter.createUserId}
            </if>
            <if test="standardFieldQuatityFilter.updateUserId != null">
                AND sdt_standard_field_quatity.update_user_id = #{standardFieldQuatityFilter.updateUserId}
            </if>
            <if test="standardFieldQuatityFilter.dataUserId != null">
                AND sdt_standard_field_quatity.data_user_id = #{standardFieldQuatityFilter.dataUserId}
            </if>
            <if test="standardFieldQuatityFilter.dataDeptId != null">
                AND sdt_standard_field_quatity.data_dept_id = #{standardFieldQuatityFilter.dataDeptId}
            </if>
            <if test="standardFieldQuatityFilter.staidardId != null">
                AND sdt_standard_field_quatity.staidard_id = #{standardFieldQuatityFilter.staidardId}
            </if>
            <if test="standardFieldQuatityFilter.staidardFieldId != null">
                AND sdt_standard_field_quatity.staidard_field_id = #{standardFieldQuatityFilter.staidardFieldId}
            </if>
            <if test="standardFieldQuatityFilter.staidardQualityId != null">
                AND sdt_standard_field_quatity.staidard_quality_id = #{standardFieldQuatityFilter.staidardQualityId}
            </if>
        </if>
    </sql>

    <select id="getGroupedStandardFieldQuatityList" resultMap="BaseResultMap" parameterType="supie.webadmin.app.model.StandardFieldQuatity">
        SELECT * FROM
            (SELECT
                COUNT(id) id,
                ${groupSelect}
            FROM sdt_standard_field_quatity
            <where>
                <include refid="filterRef"/>
            </where>
            GROUP BY ${groupBy}) sdt_standard_field_quatity
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getStandardFieldQuatityList" resultMap="BaseResultMap" parameterType="supie.webadmin.app.model.StandardFieldQuatity">
        SELECT * FROM sdt_standard_field_quatity
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
