<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supie.webadmin.app.dao.StandardQuatityMapper">
    <resultMap id="BaseResultMap" type="supie.webadmin.app.model.StandardQuatity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="data_user_id" jdbcType="BIGINT" property="dataUserId"/>
        <result column="data_dept_id" jdbcType="BIGINT" property="dataDeptId"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="standard_quality_name" jdbcType="VARCHAR" property="standardQualityName"/>
        <result column="standard_quality_code" jdbcType="VARCHAR" property="standardQualityCode"/>
        <result column="staidard_quality_type" jdbcType="VARCHAR" property="staidardQualityType"/>
        <result column="standard_quality_parent_id" jdbcType="BIGINT" property="standardQualityParentId"/>
        <result column="standard_qaulity_re" jdbcType="VARCHAR" property="standardQaulityRe"/>
        <result column="standard_quality_lang" jdbcType="VARCHAR" property="standardQualityLang"/>
        <result column="standard_quality_not_null" jdbcType="VARCHAR" property="standardQualityNotNull"/>
        <result column="standard_quality_quality_center_id" jdbcType="BIGINT" property="standardQualityQualityCenterId"/>
    </resultMap>

    <resultMap id="BaseResultMapWithStandardFieldQuatity" type="supie.webadmin.app.model.StandardQuatity" extends="BaseResultMap">
        <association property="standardFieldQuatity" column="id" foreignColumn="staidard_quality_id"
                     notNullColumn="id" resultMap="supie.webadmin.app.dao.StandardFieldQuatityMapper.BaseResultMap" />
    </resultMap>

    <insert id="insertList">
        INSERT INTO sdt_standard_quatity
            (id,
            update_time,
            create_time,
            create_user_id,
            update_user_id,
            data_user_id,
            data_dept_id,
            is_delete,
            standard_quality_name,
            standard_quality_code,
            staidard_quality_type,
            standard_quality_parent_id,
            standard_qaulity_re,
            standard_quality_lang,
            standard_quality_not_null,
            standard_quality_quality_center_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator="," >
            (#{item.id},
            #{item.updateTime},
            #{item.createTime},
            #{item.createUserId},
            #{item.updateUserId},
            #{item.dataUserId},
            #{item.dataDeptId},
            #{item.isDelete},
            #{item.standardQualityName},
            #{item.standardQualityCode},
            #{item.staidardQualityType},
            #{item.standardQualityParentId},
            #{item.standardQaulityRe},
            #{item.standardQualityLang},
            #{item.standardQualityNotNull},
            #{item.standardQualityQualityCenterId})
        </foreach>
    </insert>

    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="supie.webadmin.app.dao.StandardQuatityMapper.inputFilterRef"/>
        AND sdt_standard_quatity.is_delete = ${@supie.common.core.constant.GlobalDeletedFlag@NORMAL}
    </sql>

    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="standardQuatityFilter != null">
            <if test="standardQuatityFilter.id != null">
                AND sdt_standard_quatity.id = #{standardQuatityFilter.id}
            </if>
            <if test="standardQuatityFilter.updateTimeStart != null and standardQuatityFilter.updateTimeStart != ''">
                AND sdt_standard_quatity.update_time &gt;= #{standardQuatityFilter.updateTimeStart}
            </if>
            <if test="standardQuatityFilter.updateTimeEnd != null and standardQuatityFilter.updateTimeEnd != ''">
                AND sdt_standard_quatity.update_time &lt;= #{standardQuatityFilter.updateTimeEnd}
            </if>
            <if test="standardQuatityFilter.createTimeStart != null and standardQuatityFilter.createTimeStart != ''">
                AND sdt_standard_quatity.create_time &gt;= #{standardQuatityFilter.createTimeStart}
            </if>
            <if test="standardQuatityFilter.createTimeEnd != null and standardQuatityFilter.createTimeEnd != ''">
                AND sdt_standard_quatity.create_time &lt;= #{standardQuatityFilter.createTimeEnd}
            </if>
            <if test="standardQuatityFilter.createUserId != null">
                AND sdt_standard_quatity.create_user_id = #{standardQuatityFilter.createUserId}
            </if>
            <if test="standardQuatityFilter.updateUserId != null">
                AND sdt_standard_quatity.update_user_id = #{standardQuatityFilter.updateUserId}
            </if>
            <if test="standardQuatityFilter.dataUserId != null">
                AND sdt_standard_quatity.data_user_id = #{standardQuatityFilter.dataUserId}
            </if>
            <if test="standardQuatityFilter.dataDeptId != null">
                AND sdt_standard_quatity.data_dept_id = #{standardQuatityFilter.dataDeptId}
            </if>
            <if test="standardQuatityFilter.standardQualityName != null and standardQuatityFilter.standardQualityName != ''">
                <bind name = "safeStandardQuatityStandardQualityName" value = "'%' + standardQuatityFilter.standardQualityName + '%'" />
                AND sdt_standard_quatity.standard_quality_name LIKE #{safeStandardQuatityStandardQualityName}
            </if>
            <if test="standardQuatityFilter.standardQualityCode != null and standardQuatityFilter.standardQualityCode != ''">
                <bind name = "safeStandardQuatityStandardQualityCode" value = "'%' + standardQuatityFilter.standardQualityCode + '%'" />
                AND sdt_standard_quatity.standard_quality_code LIKE #{safeStandardQuatityStandardQualityCode}
            </if>
            <if test="standardQuatityFilter.staidardQualityType != null and standardQuatityFilter.staidardQualityType != ''">
                <bind name = "safeStandardQuatityStaidardQualityType" value = "'%' + standardQuatityFilter.staidardQualityType + '%'" />
                AND sdt_standard_quatity.staidard_quality_type LIKE #{safeStandardQuatityStaidardQualityType}
            </if>
            <if test="standardQuatityFilter.standardQualityParentId != null">
                AND sdt_standard_quatity.standard_quality_parent_id = #{standardQuatityFilter.standardQualityParentId}
            </if>
            <if test="standardQuatityFilter.standardQaulityRe != null and standardQuatityFilter.standardQaulityRe != ''">
                <bind name = "safeStandardQuatityStandardQaulityRe" value = "'%' + standardQuatityFilter.standardQaulityRe + '%'" />
                AND sdt_standard_quatity.standard_qaulity_re LIKE #{safeStandardQuatityStandardQaulityRe}
            </if>
            <if test="standardQuatityFilter.standardQualityLang != null and standardQuatityFilter.standardQualityLang != ''">
                <bind name = "safeStandardQuatityStandardQualityLang" value = "'%' + standardQuatityFilter.standardQualityLang + '%'" />
                AND sdt_standard_quatity.standard_quality_lang LIKE #{safeStandardQuatityStandardQualityLang}
            </if>
            <if test="standardQuatityFilter.standardQualityNotNull != null and standardQuatityFilter.standardQualityNotNull != ''">
                <bind name = "safeStandardQuatityStandardQualityNotNull" value = "'%' + standardQuatityFilter.standardQualityNotNull + '%'" />
                AND sdt_standard_quatity.standard_quality_not_null LIKE #{safeStandardQuatityStandardQualityNotNull}
            </if>
            <if test="standardQuatityFilter.standardQualityQualityCenterId != null">
                AND sdt_standard_quatity.standard_quality_quality_center_id = #{standardQuatityFilter.standardQualityQualityCenterId}
            </if>
            <if test="standardQuatityFilter.searchString != null and standardQuatityFilter.searchString != ''">
                <bind name = "safeStandardQuatitySearchString" value = "'%' + standardQuatityFilter.searchString + '%'" />
                AND CONCAT(IFNULL(sdt_standard_quatity.standard_quality_name,''), IFNULL(sdt_standard_quatity.standard_quality_code,''), IFNULL(sdt_standard_quatity.staidard_quality_type,''), IFNULL(sdt_standard_quatity.standard_qaulity_re,''), IFNULL(sdt_standard_quatity.standard_quality_lang,''), IFNULL(sdt_standard_quatity.standard_quality_not_null,'')) LIKE #{safeStandardQuatitySearchString}
            </if>
        </if>
    </sql>

    <select id="getGroupedStandardQuatityList" resultMap="BaseResultMap" parameterType="supie.webadmin.app.model.StandardQuatity">
        SELECT * FROM
            (SELECT
                COUNT(id) id,
                ${groupSelect}
            FROM sdt_standard_quatity
            <where>
                <include refid="filterRef"/>
            </where>
            GROUP BY ${groupBy}) sdt_standard_quatity
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getStandardQuatityList" resultMap="BaseResultMap" parameterType="supie.webadmin.app.model.StandardQuatity">
        SELECT * FROM sdt_standard_quatity
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getStandardQuatityListByStaidardFieldId" resultMap="BaseResultMapWithStandardFieldQuatity">
        SELECT
            sdt_standard_quatity.*,
            sdt_standard_field_quatity.*
        FROM
            sdt_standard_quatity,
            sdt_standard_field_quatity
        <where>
            AND sdt_standard_field_quatity.staidard_field_id = #{staidardFieldId}
            AND sdt_standard_field_quatity.staidard_quality_id = sdt_standard_quatity.id
            <include refid="filterRef"/>
            <include refid="supie.webadmin.app.dao.StandardFieldQuatityMapper.filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getNotInStandardQuatityListByStaidardFieldId" resultMap="BaseResultMap">
        SELECT
            sdt_standard_quatity.*
        FROM
            sdt_standard_quatity
        <where>
            AND NOT EXISTS (SELECT * FROM sdt_standard_field_quatity
                WHERE sdt_standard_field_quatity.staidard_field_id = #{staidardFieldId} AND sdt_standard_field_quatity.staidard_quality_id = sdt_standard_quatity.id)
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
